prefab{
    display: none;
}
body{
    animation: 0.3s load ease-out forwards;
}

.window-handle{
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0%;
    height: 20px;
    
    background-color: white;
}

.destroyed{
    animation: 0.1s destroy ease-out forwards;
}
.unloaded{
    animation: 0.3s unload ease-out forwards !important;
}
@keyframes destroy {
    0%{
        scale: 1.2;
    }
    10%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}
@keyframes unload {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes load {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}